<html>
<head>
<style>
#doclist{padding:10px; font-size:16px;}
.doc{height:30px;}
.doc a{text-decoration:none;}
</style>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/docupload">
    Doc Name: <input type="text" name="docname"/>
    <input type="file" name="docfile"/>
    <input type="submit" value="upload"/>
</form>

<div id="doclist">
<%
doclist.forEach(function(el,index)
{
 %>
 <div class="doc">
 
 <a href="<%= "view?id=" +el["_id"]%>"><%= el["docname"] %></a>
 </div>
 <% }) %>
</div>

</body>
</html>